@import "globals";
@import "variables";

body {
  background: #393939;
  overscroll-behavior: none;
}

.grid-container {
    flex: 1;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.grid-cards {
  padding: 1em;
}

#codeCard {
  background-color: #96CEB4;
}

#creativeCard {
  background-color: #FF6F69;
}

#communityCard {
  background-color: #FFCC5C;
}

.card {
    position: relative;
    width: 300px;
    height: 300px;
    clip-path: inset(0% 0% 0% 0% round 30px);
}

.grid-img {
  z-index: 2;
  width: 100%;
  position: relative;
}

/*hexagon detail*/
#codeCard::after {
  content: " ";
  position: absolute;
  right: 0%;
  top: -5%;
  border-bottom: 150px solid #cdffe5;;
  border-left: 150px solid transparent;
  border-right: 135px solid transparent;
  height: 120px;
  width: 150px;
  transform: rotate(-200deg);
}

/*hexagon detail*/
#creativeCard::after {
  content: " ";
  position: absolute;
  left: -20%;
  top: -5%;
  border-bottom: 150px solid 	#ffaaaa;
  border-left: 150px solid transparent;
  border-right: 135px solid transparent;
  height: 120px;
  width: 150px;
  transform: rotate(180deg);
}

/*hexagon detail*/
#communityCard::after {
  content: " ";
  position: absolute;
  left: 0%;
  top: -5%;
  border-bottom: 150px solid #ffeeae;
  border-left: 150px solid transparent;
  border-right: 135px solid transparent;
  height: 120px;
  width: 150px;
  transform: rotate(200deg);
}

.cardText {
  padding-bottom: 1em;
  text-align: center;
  color: #393939;
  font-family: 'Share Tech', sans-serif;
}