@import "globals";
@import "variables";

/*styling for footer*/
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $pastelPurple;
  border-top: solid white 0.5em;
}

/*styling for flex-box (responsive)*/
.flex-container {
  display: flex;
  flex: row wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .pages-list {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .pages-list>* {
    text-align: left;
    margin-bottom: 1em;
    flex: 0 50%;
  }
   
}

/*style footer links*/
.pages-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pages-list li {
  color: $darkGrey;
  list-style-type: none;
  padding-right: 1.25em;
}

.pages-list a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

a.fas { 
  font-family: 'Share Tech', sans-serif;
  font-size: 1.25em;
}

/*remove padding property if you decide to add more linky links*/
a.fas:before {
  font-family: 'Font Awesome 5 Free';
  padding: .3125em;
}

.pages li:hover > * {
   color: white;
}

#copyright {
  color: $darkGrey;
  font-family: 'Share Tech', sans-serif;
  font-size: 1.25em;
}

/*style social icons*/
a.fa {
    padding: 0 .625em; //distance between icons
    text-decoration: none;
    color: $darkGrey;
}

a.fa:hover {
    color: white;
}