@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import "variables";

html {
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #292929;
    overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech', sans-serif;
}

p {
    color: white;
}

li {
    color: white;
    list-style-type: square;
}

a {
    color: white;
    text-decoration: none;
}

section {
    width: 80%;
    margin: auto;
}

hr {
    color: white;
    width: inherit;
    opacity: 0.75;
}

p {
    font-family: 'Lato', sans-serif;
    color: white;
}


