@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import "variables";


html {
    font-size: 100%;
    box-sizing: border-box;
    min-height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #292929;
    overscroll-behavior: none;
}