@import "variables";
@import "globals";

.notes {
    color: white;
    font-family: 'Share Tech', sans-serif;
    line-height: 2em;
}

.bold {
    text-transform: uppercase;
}

.community {
    color: $pastelYellow;
}

.coding {
    color: $pastelGreen;
}

.creative {
    color: $pastelPink;
}

.link {
    color: white;
    font-family: 'Lato', sans-serif;
}

.codingHover:hover {
    color: $pastelGreen;
}

.creativeHover:hover {
    color: $pastelPink;
}

.communityHover:hover {
    color: $pastelYellow;
}

.section-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 1em;
}

.description {
    flex: 40%;
    padding: 0 1em 1em 1em;
}

.codingContent {
    border: solid 0.25em $pastelGreen;
    border-radius: 20px;
}

.creativeContent {
    border: solid 0.25em $pastelPink;
    border-radius: 20px;
}

.communityContent {
    border: solid 0.25em $pastelYellow;
    border-radius: 20px;
}

.content {
    flex: 60%;
    padding: 1em;
}
  
@media (max-width: 800px) {
    .description, .content {
        flex: 100%;
    }
}
