
/*colors*/
$darkGrey: #292929;

/*accents*/
$pastelPurple: #9896ce;
$pastelGreen: #96CEB4;
$pastelPink: #FF6F69;
$pastelYellow: #FFCC5C;

/*lighter accents*/
$lightGreen: #cdffe5;
$lightPink: #ffaaaa;
$lightYellow: #ffeeae;