@import "globals";
@import "variables";

.resourceHeader {
    color: $pastelPurple;
}

.resourceType > ul > li {
    padding-top: 0.5em;
}
  
a:hover {
  opacity: .5;
}

a:visited {
    color: $pastelPurple;
}

.resourceLink {
    font-family: 'Lato', sans-serif;
}

span {
padding-right: 3px;
}

hr {
    width: 80%;
}

#contactMessage {
color: $pastelPurple;
}