section.block.hero {
  overflow: hidden;
  min-height: 70vh;
  margin-bottom: 0px;

  @media screen and (max-width: 1440px) {
    margin-bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 0px;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &.reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      line-height: 1;
      margin-bottom: 2rem;
      @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }

    a {
      font-size: 1.25rem;
      margin-top: 1.25em;
    }
  }

  .image-container {
    border: 2px solid white;
    width: auto;
    height: auto;
    position: relative;

    .bg-square {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }

    .bg-red {
      background-color: var(--pastel-red);
      top: 40px;
      left: 40px;
      transform: rotate(5deg);
    }

    .bg-yellow {
      background-color: var(--pastel-yellow);
      top: 25px;
      right: 50px;
      transform: rotate(10deg);
    }

    .bg-green {
      background-color: var(--pastel-green);
      top: 100px;
      left: 150px;
      transform: rotate(-20deg);
    }

    .bg-blue {
      background-color: var(--pastel-blue);
      top: 80px;
      right: 80px;
      transform: rotate(-20deg);
    }

    .bg-purple {
      background-color: var(--pastel-purple);
    }
  }

  &.main-hero {
    margin-top: 120px;
    h2 {
      font-size: clamp(2.5rem, 10vw, 6rem);
    }
    p {
      max-width: 38ch;
      line-height: 1.5;
      font-size: clamp(1.25rem, 10vw, 1.5rem);
    }
  }

  &.secondary-hero {
    .content-container {
      h2 {
        font-size: clamp(1.5rem, 5vw, 3rem);
      }
      p {
        max-width: 55ch;
        line-height: 1.5;
        font-size: clamp(1rem, 10vw, 1.25rem);
      }
    }
  }
}
