.section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .section-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2 {
        font-size: 2.5rem;
    }
    p {
    font-size: 1.25rem;

    }
    a {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }

.section-image {
  border: 3px solid white;
  border-image-outset: 0;
  min-width: 480px;
}

}