section.block.hero {
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &.reverse {
      flex-direction: row-reverse;
      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
      }
    }
  }

  .content-container {
    h2 {
      line-height: 1;
      margin-bottom: 2rem;
      @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
      }

      &.main-title {
        font-size: clamp(2.5rem, 10vw, 6rem);
      }

      &.secondary-title {
        font-size: clamp(1.5rem, 5vw, 3rem);
      }
    }
    p {
      max-width: 55ch;
    }
  }
}
