.faq {
  display: flex;
  flex-direction: row;
  gap: 300px;
  align-items: flex-start;
  border-bottom: 1px solid var(--pastel-blue);

  @media screen and (max-width: 1440px) {
    margin-bottom: 0px;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 10px;
    align-items: baseline;
    margin-bottom: 25px;
  }

  details {
    width: 100%;
    padding: 1.5rem 0;
  }

  .faq-num {
    color: var(--white);
    font-family: var(--title);
    font-size: 1.5rem;
    margin-top: 1em;
  }

  .faq-question {
    color: var(--white);
    font-family: var(--body);
    list-style-type: none;
    font-size: clamp(2rem, 5vw, 3rem);
    line-height: 1.2;
    cursor: pointer;
  }

  .faq-answer {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 2rem;
  }

  a {
    color: var(--pastel-blue);
    cursor: pointer;
    @include hover-opacity;
  }
}
