@import "/styles/scss/pages/404.scss";
@import "/styles/scss/pages/index.scss";
@import "/styles/scss/pages/setup.scss";
@import "/styles/scss/pages/about.scss";
@import "/styles/scss/pages/blogPost.scss";
