.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 125px;
    padding-bottom: 125px;

    h2 {
        font-size: 3rem;
        
    }

    h3 {
        font-size: 2.5rem;
    }

    .table-wrapper {
        overflow-x: scroll;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        margin: auto;
    }
    th {
        font-family: var(--title);
        text-align: left;
        color: var(--white);
        font-size: 2rem;
    }
    td {
        color: var(--white);
        font-family: var(--body);
        border: 1px solid white;
        padding: 8px 0px;
        width: auto;
        border-left: none;
        border-right: none;
        font-size: 1.5rem;
    }
    
    .category {
        width: 500px;
    }

    .item {
        width: 400px;
    }

    .item-link {
        width: 40px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }
}