.setup {
    display: flex;
    justify-content: center;
    align-content: center;

    table {
        border-collapse: collapse;
        width: 1000px;
        margin-bottom: 1rem;
    }
    th {
        font-family: var(--title);
        text-align: left;
        color: white;
    }
    td {
        color: white;
        font-family: var(--body);
        border: 1px solid white;
        padding: 8px;
        width: auto;
    }
    
    .category {
        width: 500px;
    }

    .item {
        width: 400px;
    }

    .item-link {
        width: 40px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
    }
}