footer#footer {
  width: 100%;
  height: auto;

  .contact-text {
    font-size: clamp(3rem, 10vw, 4rem);
    line-height: 1.15;
    span {
      color: var(--pastel-purple);
    }
  }

  .email-button {
    margin-top: 30px;
  }

  .copyright {
    font-size: 0.5rem;
  }

  .footer-socials {
    margin-top: 100px;
  }

}
