footer#footer {
  width: 100%;
  height: auto;

  .contact-text {
    font-size: clamp(3rem, 10vw, 4rem);
    line-height: 1.15;
    span {
      color: var(--pastel-purple);
    }
    max-width: 20ch;
  }

  button,
  a.button {
    margin-top: 2rem;
  }
  .discord-button {
    display: inline-flex;
    gap: 8px;
    align-items: center;
  }

  .copyright {
    font-size: 0.75rem;
    padding-top: 12px;
  }

  .footer-socials {
    margin-top: 100px;
  }
}
