header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;

  .logo {
    font-size: 1.5rem;

    a {
      @include hover-opacity;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    padding: 0;
    @include hover-opacity;

    .hamburger-inner {
      background-color: var(--white);
      width: 32px;

      &::after,
      &::before {
        background-color: var(--white);
        width: 32px;
      }
    }
  }
}
