header.header {
 // content
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 100%;
 margin: 0 auto;
 margin-top: 30px;
 
 .logo {
  font-size: 1.5rem;
 }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .hamburger {
    // display: none;
    padding: 0;

    .hamburger-inner {
      background-color: white;
      width: 32px;

      &::after,
      &::before {
        background-color: white;
        width: 32px;
      }
    }
  }
}