.menu {
  position: fixed;
  display: none;
  top: 120px;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-grey);

  .wrapper {
    position: relative;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
  }

  &.active-menu {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    li {
      a {
        font-size: clamp(3.5rem, 7.5vw, 5rem);
        font-family: var(--title);

        @media screen and (max-height: 640px) {
          line-height: 1.15;
          // font-size: clamp(2rem, 5vw, 5rem);
        }
      }
    }
  }

  .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 20px;

    .social-links {
      gap: 1rem;
    }

    .copyright {
      font-size: 0.75rem;
      padding-top: 12px;
    }
  }

  .graphics {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 25%;

    .graphic {
      min-width: 200px;
      min-height: 200px;
      width: 25vw;
      height: 25vw;
      aspect-ratio: 1;
      transform-origin: center center;

      @media screen and (max-width: 640px) {
        min-width: 150px;
        min-height: 150px;
      }
    }

    .yellow {
      background-color: var(--pastel-yellow);
      transform: rotateZ(165deg);
    }
    .blue {
      background-color: var(--pastel-blue);
      transform: rotateZ(-165deg);
    }
    .red {
      background-color: var(--pastel-red);
      transform: rotateZ(-5deg);
    }
    .green {
      background-color: var(--pastel-green);
      transform: rotateZ(-18deg);
    }
  }

  .left-graphics {
    left: 0;
    left: -5vw;

    @media screen and (max-width: 540px) {
      left: -15vw;
    }

    @media screen and (max-width: 420px) {
      left: -33vw;
    }
  }
  .right-graphics {
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: -5vw;

    @media screen and (max-width: 540px) {
      right: -15vw;
    }

    @media screen and (max-width: 420px) {
      right: -33vw;
    }
  }
}
