.bg-red {
    background-color: var(--pastel-red);
}

.bg-yellow {
    background-color: var(--pastel-yellow);
}

.bg-green {
    background-color: var(--pastel-green);
}

.bg-blue {
    background-color: var(--pastel-blue);
}

.bg-purple {
    background-color: var(--pastel-purple);
}
